/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: $font_page;
  font-size: $font_size_body;
  color: $prymary_text_color;
  background-color: $bg_main_color;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #555;
  }
}

.container {
  padding: 0 25px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $prymary_text_color;
}
