/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: $font_page;
  color: $prymary_text_color;
  background-color: $bg_main_color;
}

.container {
  padding: 0 30px;
}

.flex {
  display: flex;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $prymary_text_color;
}
