// HEADER
@media screen and (max-width: 656px) {
  .search-bar {
    display: none;

    .back {
      display: block;
      @include center_element;

      i {
        cursor: pointer;
        font-size: $icon_size;
      }
    }
  }

  .options {
    .btn-search {
      display: block;
    }
  }
}

header {
  #menu {
    position: fixed;
  }
}

nav {
  z-index: 45645;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    height: 55px;
    background-color: rgba(33, 33, 33, 0.9);
    @include vertical_center;
    justify-content: space-between;

    .logo {
      .stretched-menu {
        i {
          font-size: $icon_size;
          cursor: pointer;
        }
      }

      img {
        width: 80px;
        margin-left: 30px;
      }

      .lang-it {
        color: $secondary_text_color;
        font-size: 12px;
        position: relative;
        top: -4px;
        right: -5px;
      }
    }

    .search-bar {
      width: 50%;

      input {
        width: 100%;
        font-size: 16px;
        padding: 5.5px 14px;
        margin-left: 30px;
        border: 1px solid $search_btn_color;
        box-shadow: none;
        background-color: $bg_input_color;
        font-family: $font_page;
        color: $prymary_text_color;

        &:focus {
          outline: 1px solid $outline_color;
        }
      }

      .lens {
        @include center_element;
        font-size: 15px;
        padding: 5px 25px;
        background-color: $search_btn_color;
        color: #6a6565;
        cursor: pointer;

        &:hover {
          color: $secondary_text_color;
        }
      }

    }

    .options {
      .list-options {
        list-style-type: none;
        @include vertical_center;

        li {
          font-size: $icon_size;
          margin-left: 30px;
          position: relative;
          cursor: pointer;

          .fa-plus {
            position: absolute;
            top: 4px;
            left: 2px;
            color: $bg_main_color;
            font-size: 10px;
          }

        }
        .profile {
          @include center_element;
          width: 32px;
          height: 32px;
          background-color: #ff6600;
          border-radius: 50%;

          &:active {
            border: 1px solid $outline_color;
          }
        }
      }
    }
  }
}
