// MAIN
#menu {
  .small-menu,
  .large-menu {
    position: fixed;
    margin-top: 55px;
    padding-bottom: 75px;
    height: 100%;
    background-color: $bg_menu_color;
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }

    &:hover::-webkit-scrollbar {
      width: 8px;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: #555;
    }

    .section-menu {
      border-bottom: 1px solid $hover_color_li;

      h4 {
        padding: 0 30px;
        padding-top: 27px;
        color: $secondary_text_color
      }

      .list-menu {
        &.hide-list {
          padding: 0 0 10px;
          display: none;
        }

        li {
          &.show-others,
          &.hide-others {
            cursor: pointer;

            i {
              padding-right: 25px;
              font-size: $icon_size;
              color: $icon_color;
            }
          }

          .sub {
            @include vertical_center;
            position: relative;
            width: 177px;

            img {
              display: inline-block;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              margin-right: 20px;
            }

            span {
              @include hidden_text;
            }

            .online {
              position: absolute;
              right: -10px;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #3ea6ff;
              margin: 0 6px;
            }
          }
        }
      }

      &.subscribe {
        .list-menu {
          &:first-of-type {
            padding-bottom: 0;
          }
        }
      }
    }

    .footer {
      font-size: 13px;
      color: $secondary_text_color;

      ul {
        display: flex;
        padding: 15px 25px 0;
        flex-wrap: wrap;

        li {
          margin-right: 7px;

          a {
            color: #aaa;
          }
        }
      }

      .copyright {
        padding-top: 20px;
      }
    }
  }

  .large-menu {
    width: 240px;

  }

  .small-menu {
    width: 70px;
    .section-menu {
      border-bottom: none;
      .list-menu {
        text-align: center;
        li {
          @include center_element;
          font-size: 10px;
          white-space: normal;
          height: 75px;

          a {
            width: unset;
            i {
              padding-left: 20px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

#list-video {
  margin-top: 55px;
  padding-top: 30px;
  width: 100%;

  .recommended {
    border-bottom: 4px solid $hover_color_li;
    justify-content: space-between;
    flex-wrap: wrap;

    .box-video {
      padding: 20px 0;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;

      &:hover .hover {
        display: block;
      }

      &:hover .video-description .details {
        display: block;
      }

      .hover {
        position: absolute;
        right: 0;
        top: 20px;
        padding: 5px;
        font-size: $icon_size;
        display: none;

        .square {
          position: relative;
          width: 30px;
          height: 30px;
          background-color: rgba(33, 33, 33, 0.9);
          margin-bottom: 5px;
          border-radius: 3px;
          @include center_element;
          transition: 0.3s ease;
          transition-delay: 0.3s;

          &:hover {
            background-color:  #111111;
          }

          .message {
            @include center_element;
            position: absolute;
            background-color: #111111;
            font-size: 13px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            transition: 0.3s ease;
            transition-delay: 0.3s;
            bottom: 0;
            left: 100%;
            right: 0;
            overflow: hidden;
            width: 0;
            height: 100%;
            white-space: nowrap;
          }

          &:hover .message {
            position:absolute;
            width: 160px;
            left: -155px;
          }
        }
      }

      .video-img {
        background-color: $bg_menu_color;
        position: relative;

        .duration {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 2px;
          margin: 5px;
          border-radius: 3px;
          background-color: rgba(33, 33, 33, 0.7);
          font-size: 13.5px;
          font-weight: bold;
        }
      }

      .video-description {
        display: flex;
        position: relative;

        .details {
          text-align: right;
          position: absolute;
          top: 0;
          right: 0;
          padding: 15px 10px;
          color: $secondary_text_color;
          font-size: $icon_size;
          display: none;

          & > i:hover {
            color: white;
          }

          .dropdown {
            top: 40px;
            right: 0;
            z-index: 3456;
            li {
              i {
                color: $secondary_text_color;
                font-size: $font_size_body;
              }
            }
          }
        }

        .profile-picture {
          margin-top: 10px;
          margin-right: 15px;
          @include center_element;
          width: 36px;
          height: 36px;

          img {
            border-radius: 50%;
            width: 36px;
            height: 36px;
          }
        }

        .title {
          h3 {
            padding-top: 15px;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .video-details {
            padding-top: 5px;
            span,
            a {
              color: $secondary_text_color;
              .name {
                &:hover {
                  color: white;
                }
              }
            }


            .visual::after {
              content: ' • ';
            }
          }

        }
      }
    }
  }
}

////////// MEDIA QUERY ////////////

@media screen and (max-width: 510px) {
  #list-video {
    .box-video {
      flex-basis: 100%;
    }
  }

  .add-padding-small {
    padding-left: 70px;
  }
  .add-padding-large {
    padding-left: 70px;
  }
}

@media screen and (min-width: 511px) {

  #list-video {
    .box-video {
      flex-basis: calc((100% / 2) - 15px);
    }
  }

  .add-padding-small {
    padding-left: 70px;
  }
  .add-padding-large {
    padding-left: 70px;
  }
}

@media screen and (min-width: 887px) {

  #list-video {
    .box-video {
      flex-basis: calc((100% / 3) - 15px);
    }
  }

  .add-padding-small {
    padding-left: 70px;
  }
  .add-padding-large {
    padding-left: 70px;
  }
}

@media screen and (min-width: 1144px) {
  #list-video {
    .box-video {
      flex-basis: calc((100% / 4) - 15px);
    }
  }
}

@media screen and (max-width: 1327px) {
  #menu {
    .large-menu {
      display: none;
    }
  }
}

@media screen and (min-width: 1328px) {
  #menu {
    .large-menu {
      width: 240px;
    }
  }

  .add-padding-large {
    padding-left: 240px;
  }
  .add-padding-small {
    padding-left: 70px;
  }
}
