// MAIN
#menu {
  .large-menu {
    width: 240px;
  }

  .small-menu {
    width: 70px;
    .section-menu {
      ul {
        text-align: center;
        li {
          @include center_element;
          font-size: 10px;

          i {
            padding-left: 20px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  .small-menu,
  .large-menu {
    position: fixed;
    margin-top: 55px;
    padding-bottom: 75px;
    height: 100%;
    background-color: $bg_menu_color;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }

    &:hover::-webkit-scrollbar {
      width: 8px;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: #555;
    }

    .section-menu {
      border-bottom: 1px solid $hover_color_li;

      h4 {
        padding: 0 30px;
        padding-top: 27px;
        color: $secondary_text_color
      }

      ul {
        padding: 10px 0;

        li {
          padding: 11px 25px 11px;
          cursor: pointer;

          &:hover {
            background-color: $hover_color_li;
          }

          i {
            padding-right: 25px;
            font-size: $icon_size;
            color: $icon_color;
          }

          &.show-others {
            cursor: pointer;
          }
        }

        li.active {
          a {
            i {
              color: $prymary_text_color;
            }
          }

          background-color: $hover_color_li;
          color: $prymary_text_color;

          &:hover {
            background-color: #4d4d4d;
          }
        }
      }
    }

    .footer {
      font-size: 13px;
      color: $secondary_text_color;

      ul {
        display: flex;
        padding-top: 15px;
        flex-wrap: wrap;

        li {
          margin-right: 7px;

          a {
            color: #aaa;
          }
        }
      }

      .copyright {
        padding-top: 20px;
      }
    }
  }
}

#list-video {
  margin-top: 55px;
  padding-top: 30px;
  width: 100%;

  .recommended {
    border-bottom: 4px solid $hover_color_li;
    justify-content: space-between;
    flex-wrap: wrap;

    .box-video {
      background-color: blue;
      padding: 20px 0;
      margin-bottom: 20px;

      .video-img {
        background-color: red;
        height: 150px;
        padding: 20px 0;
      }

      .video-description {
        display: flex;

        .profile-picture {
          float: left;
          height: 60px;
          margin-right: 15px;
          padding-top: 8px;
        }

        .title {
          h3 {
            padding: 8px 0;
          }
          span {
            display: block;
          }
        }
      }
    }
  }
}

////////// MEDIA QUERY ////////////

@media screen and (max-width: 510px) {
  #list-video {
    .box-video {
      flex-basis: 100%;
    }
  }

  .add-padding-small {
    padding-left: 70px;
  }
  .add-padding-large {
    padding-left: 70px;
  }
}

@media screen and (min-width: 511px) {
  #list-video {
    .box-video {
      flex-basis: calc((100% / 2) - 15px);
    }
  }

  .add-padding-small {
    padding-left: 70px;
  }
  .add-padding-large {
    padding-left: 70px;
  }
}

@media screen and (min-width: 887px) {

  #list-video {
    .box-video {
      flex-basis: calc((100% / 3) - 15px);
    }
  }

  .add-padding-small {
    padding-left: 70px;
  }
  .add-padding-large {
    padding-left: 70px;
  }
}

@media screen and (min-width: 1144px) {
  #list-video {
    .box-video {
      flex-basis: calc((100% / 4) - 15px);
    }
  }
}

@media screen and (max-width: 1327px) {
  #menu {
    .large-menu {
      display: none;
    }
  }
}

@media screen and (min-width: 1328px) {
  #menu {
    .large-menu {
      width: 240px;
    }
  }

  .add-padding-large {
    padding-left: 240px;
  }
  .add-padding-small {
    padding-left: 70px;
  }
}
