// background and text color
$bg_main_color: #181818;
$bg_menu_color: #212121;
$prymary_text_color: #fff;
$secondary_text_color: #909090;

// icon
$icon_size: 17px;
$icon_color: #909090;

// font page
$font_page: 'Roboto', sans-serif;
$font_size_body: 14px;

// input style color
$search_btn_color: #323232;
$bg_input_color: #121212;
$outline_color: #4696ff;

// hover li menu
$hover_color_li: #383838;
